<article  role="article" id="alerts" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Alerts</h3>
    <p>Alerts, should be used when the user needs instant feedback on an action they preformed. They are helpful when a user deletes something or when they have successfully saved or created something new.</p>
  </div>
  <div class="guide__section-group">
    <% data.components_alerts.alerts.each do |i| %>
      <figure class="alert--<%= i.type %>">
        <%= inline_svg('images/icons/icons-functional/icon-success.svg', class: 'alert__icon') %>
        <p class="alert__text"><%= i.text %></p>
        <% link_to '#' do %>
          <%= inline_svg('images/icons/icons-functional/icon-close.svg', class: 'alert__trigger') %>
        <% end %>
      </figure>
    <% end %>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
<figure class="alert--success">
  <%= inline_svg('images/icons/icons-functional/icon-success.svg', class: 'alert__icon') %>

  <p class="alert__text">Alert text message goes right here.</p>

  <% link_to '#' do %>

    <%= inline_svg('images/icons/icons-functional/icon-close.svg', class: 'alert__trigger') %>

  <% end %>

</figure>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">HTML Guidelines</h6>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create alerts.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.alert--[type]</td>
          <td class="table-guide__body-item">This should be applied to the element you are styling to look like an alert. It provides the correct styles for the message being returned. The class name should change based on the type of alert being displayed. <% code("html") do %><figure class"alert--success"></figure><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">[aria-hidden="true"]</td>
          <td class="table-guide__body-item">Set this on the alert when it is hidden from the view.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">[aria-hidden="false"]</td>
          <td class="table-guide__body-item">Set this on the alert when it is visible in the view.</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
