<article  role="article" id="colors">
  <div class="guide__section-group">
    <h3 class="title">Colors</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula quis dui eget euismod. Etiam in libero sit amet libero vulputate placerat. Curabitur in posuere augue, at porta dolor.</p>
  </div>
  <h5>Primary Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.primary.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <h5>Secondary Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.secondary.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <h5>Background / Acccent Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.accent.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</article>
