<article  role="article" id="colors">
  <div class="guide__section-group">
    <h3 class="title">Colors</h3>
    <p>The color palette is comprised of 14 core colors. The grays are used for backgrounds, borders and elements that are disabled. The brightest colors in the palette - red, yellow and green - are used to draw attention to a user. Finally, the most dominant colors - orange and blue - are used for navigation and basic interactions. Shades of these colors can be used if needed. It's best to generate them through the lighten() / darken() Sass functions.</p>
  </div>
  <h5>Primary Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.primary.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <h5>Secondary Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.secondary.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <h5>Background / Accent Colors</h5>
  <ul class="guide__section-group">
    <% data.element_colors.colors.accent.each do |i| %>
      <li class="element-color card--md card--shadow">
        <span style="background-color: <%= i.hex_value %>" class="element-color-icon"></span>
        <h5><%= i.title %></h5>
        <ul class="element-color-list">
          <li class="element-color-item">
            <span>Variable Value:</span>
            <span class="element-color-txt-right"><%= i.variable_value %></span>
          </li>
          <li class="element-color-item">
            <span>Hex Value:</span>
            <span class="element-color-txt-right"><%= i.hex_value %></span>
          </li>
          <li class="element-color-item">
            <span>RGBA Value:</span>
            <span class="element-color-txt-right"><%= i.rgba_value %></span>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</article>
